name: Build KPM
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27c
          add-to-path: true

      - name: Build Module
        run: |
          # 1. Navigate to the actual folder where the code lives
          cd kpms/demo-hello/
          
          # 2. Compile specifically for the Razr's architecture (arm64)
          # This uses the Android NDK clang directly to avoid host header conflicts
          $ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android34-clang \
          -O2 -Wall -target aarch64-linux-android -I../../include -c hello.c -o ../../prod_off.kpm

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: prod_off_kpm
          path: "prod_off.kpm"
